#container,#footer {
	width: 800px;
	margin: auto;
}

#footer {
	text-align: center;
}

#content {
	min-height: 600px;
}

#header{
 position:relative;
 height:20px;
 
}
#container,#header,#content {
	padding: 0.2em;
}

#navigation_bar{
   position:absolute;
   left:5px;
}

#account{
 position:absolute;
 right:5px;
}